*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background-color: #0e2761;
}

.container {
    width: 100%;
    height: 100%;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer
}

.logo img {
    width: 50px;
    margin-top: -7px;
    margin-right: 48px;
}

.active a {
    color: red !important;
}

.banner {
    width: 80%;
    height: 20%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: white
}


.app-text {
    width: 50%;
    float: left;
}



.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.app-text p{
    font-size: 20px;
    width: 650px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: grey
}

.textTeam{
    font-size: 20px;
    width: 650px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: grey
}
.listAbout{
    font-size: 20px;
    width: 650px;
    margin: 10px 0 30px 100px;
    line-height: 25px;
    color: grey
}
.app-picture {
    width: 40%;
    float: right;
}

.app-picture img {
    width: 100%;
    margin-top: -20px;
    padding-left: 10px;
}

.play-btn {
    margin-left: 40px;
    display: inline-flex;
}
.play-btn-inner {
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#0e2761, #0e2761), radial-gradient(circle at top left, red, white);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
}
.play-btn-inner .fa{
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}

.social-icons{
    right: 72px;
    bottom: 35px;
    position: absolute;
}

.social-icons ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
}

.social-icons ul li a {
    color: #999;
    border-radius: 50%;
    border: 1px solid #999;
    padding: 5px;
    display: block;
}

small {
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: red;
    letter-spacing: 3px;

}


/* A link that has not been visited */
a:link {
    color: #b2b1b1;
    text-decoration: none;

}
/* A link that has been visited */
a:visited {
    color: #b2b1b1;
    text-decoration: none;

}
/* A link that is hovered on */
a:hover {
    color: white;
    text-decoration: none;

}
.partners {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

.flag {
    width: 15%;
    margin-left: -150px;
    position: absolute;
}
/* Three columns side by side */
.column {
    float: left;
    width: 30.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 80%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2);
    background-color: #102d70
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 100%;
    margin: 30px;
    color: white;
    font-size: 12px;
}
